@page
@model IndexModel
<div class="row">
    <button type="button" class="btn btn-outline-light btn-lg"><i class="bi bi-caret-left"></i> Select project</button>
</div>

<div class="row"> 
    <div class="text-center app-div">
        <h2>Select or <a href="#" data-bs-toggle="modal" data-bs-target="#newProjModal">create a new project</a></h2>
        <div class="row project-buttons">
            <button type="button" class="btn btn-outline-light btn-sm">Project One quite long name here</button>
            <button type="button" class="btn btn-outline-light btn-sm">Project h quite long name as a quite long name here</button>
            <button type="button" class="btn btn-outline-light btn-sm">Three</button>
            <button type="button" class="btn btn-outline-light btn-sm">Project Four</button>
            <button type="button" class="btn btn-outline-light btn-sm">This is Five  quite long name here quite long name here</button>
            <button type="button" class="btn btn-outline-light btn-sm">Project One quite long name here</button>
            <button type="button" class="btn btn-outline-light btn-sm">Project has a quite long name here</button>
            <button type="button" class="btn btn-outline-light btn-sm">Three</button>
            <button type="button" class="btn btn-outline-light btn-sm">Project  quite long name Four</button>
            <button type="button" class="btn btn-outline-light btn-sm">This is Five  quite long name here quite long name here</button>
        </div>
    </div> 
</div>

<div class="row">
    <div class="text-center app-div">
        <h2>Select or <a href="#" data-bs-toggle="modal" data-bs-target="#newReqmodal">create a new design requirement</a></h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Introduced in Version</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Coverage</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Users should be able to do thing</td>
                    <td>v2.011.101</td>
                    <td>@DateTime.UtcNow</td>
                    <td>@DateTime.UtcNow</td>
                    <td><span class="cell-alert">Not Covered</span></td>
                    <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Expand <i class="bi bi-box-arrow-in-up-right"></i></button></td>
                </tr>
                <tr>
                    <td>Users should be able to do thing</td>
                    <td>v2.011.101</td>
                    <td>@DateTime.UtcNow</td>
                    <td>@DateTime.UtcNow</td>
                    <td><span class="cell-ok">Covered</span></td>
                    <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Expand <i class="bi bi-box-arrow-in-up-right"></i></button></td>
                </tr>
                <tr>
                    <td>Users should be able to do thing</td>
                    <td>v2.011.101</td>
                    <td>@DateTime.UtcNow</td>
                    <td>@DateTime.UtcNow</td>
                    <td><span class="cell-alert">Not Covered</span></td>
                    <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Expand <i class="bi bi-box-arrow-in-up-right"></i></button></td>
                </tr>
                <tr>
                    <td>Users should be able to do thing</td>
                    <td>v2.011.101</td>
                    <td>@DateTime.UtcNow</td>
                    <td>@DateTime.UtcNow</td>
                    <td><span class="cell-ok">Covered</span></td>
                    <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Expand <i class="bi bi-box-arrow-in-up-right"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Project Req. modal -->
<div class="modal fade" id="tcModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="bi bi-book"></i> Users should be able to do thing</h2>
                <h1>
                    <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>
                </h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="created" class="form-label">Created Date</label>
                            <p id="created">a day</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="updated" class="form-label">Updated Date</label>
                            <p id="updated">a day</p>
                        </div>
                    </div>                   
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label" placeholder="Use a simple, concise name">Requirement Title</label>
                    <input type="text" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="info" class="form-label">Information</label>
                    <textarea id="info" placeholder="Describe this requirement in more detail" class="form-control" style="min-height:10vh;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="version" class="form-label">Version Introduced</label>
                    <input id="version" type="text" class="form-control"/>
                    <div class="form-text">The requirement will apply as of this version</div>
                </div>
                <br />
                <div class="testCasesTable">
                    <h2><i class="bi bi-clipboard2-check"></i> Review or <a href="#">create test case</a></h2>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Test Case Title</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">Updated</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Does thing a</td>
                                        <td>@DateTime.UtcNow</td>
                                        <td>@DateTime.UtcNow</td>
                                        <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Open <i class="bi bi-caret-right-fill"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Does thing a</td>
                                        <td>@DateTime.UtcNow</td>
                                        <td>@DateTime.UtcNow</td>
                                        <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Open <i class="bi bi-caret-right-fill"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Does thing a</td>
                                        <td>@DateTime.UtcNow</td>
                                        <td>@DateTime.UtcNow</td>
                                        <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tcModal">Open <i class="bi bi-caret-right-fill"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="createTC">
                    <br />
                    <div class="newTcTitle"><h2><i class="bi bi-file-earmark-plus"></i> New Test Case</h2></div>
                    <div class="editTcTitle"><h2><i class="bi bi-pencil"></i> Modify Test Case</h2></div>
                    <div class="mb-3">
                        <label for="tcTitle" class="form-label">Title</label>
                        <input id="tcTitle" type="text" class="form-control" />
                        <div class="form-text">Use a simple case like "User can do [xyz]"</div>
                    </div>
                    <div class="mb-3">
                        <label for="tcInfo" class="form-label">Body</label>
                        <textarea class="form-control" id="tcInfo" required style="min-height:5vh;" placeholder="Add some info or steps to validate this requirement"></textarea>
                    </div>
                    <button class="btn btn-primary">Save Test Case</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Requirement</button>
            </div>
        </div>
    </div>
</div>

<!-- New Project Modal -->
<div class="modal fade" id="newProjModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="bi bi-node-plus"></i> Add new project</h2>
                <h1>
                    <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>
                </h1>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="projTitle" class="form-label">Title</label>
                    <input id="projTitle" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="shortCode" class="form-label">Title Short-Code</label>
                    <input id="shortCode" class="form-control" maxlength="5" />
                    <div class="form-text">This will be used to identify the project when loading</div>
                </div>
                <div class="mb-3">
                    <label for="projInfo" class="form-label">Description</label>
                    <textarea style="min-height: 5vh;" class="form-control" placeholder="Add some information about the project"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save project</button>
            </div>
        </div>
    </div>
</div>

<!-- New Requirement Modal -->
<div class="modal fade" id="newReqmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="bi bi-card-checklist"></i> Add new project requirement</h2>
                <h1>
                    <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>
                </h1>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="reqtitle" class="form-label" placeholder="Use a simple, concise name">Requirement Title</label>
                    <input type="reqtext" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="reqinfo" class="form-label">Information</label>
                    <textarea id="reqinfo" placeholder="Describe this requirement in more detail" class="form-control" style="min-height:10vh;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="reqversion" class="form-label">Version Introduced</label>
                    <input id="reqversion" type="text" class="form-control" />
                    <div class="form-text">The requirement will apply as of this version</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save project</button>
            </div>
        </div>
    </div>
</div>

